.aside-reference {
	font-size: 1.4rem;
	margin: 2rem 0;
	font-weight: 500;
}

.footer {
	margin-bottom: 0;
	padding: 25px 0;
}

.subhead { 
	font-size: 1.8rem;
	font-weight: 300;
}

figcaption {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2rem;
  padding: 0 1rem;

}